/*
   This is a css file of SASUnit.
      
   For further information please refer to https://github.com/HMS-Analytical-Software/SASUnit/wiki/User's%20Guide
   Here you can find the SASUnit documentation, release notes and license information.
   This file is part of SASUnit, the Unit testing framework for SAS(R) programs.
   For copyright information and terms of usage under the https://github.com/HMS-Analytical-Software/SASUnit/wiki/readme included file README.md
   or https://github.com/HMS-Analytical-Software/SASUnit/wiki/readme.
*/

/* CSS Tree menu styles */
/* Inspired by The CSS Ninja Treeview Example */
.hms-treeview
{
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	font-family: Geneva, Arial, Helvetica, sans-serif;
    color: #1A41A8;
	font-weight: bold;
	padding: 0;
	font-size: 11pt;
}

a.hms-treeview,
ol.hms-treeview
{
	margin: 2px 0px 2px 0px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
    color: #1A41A8;
	font-weight: bold;
	padding: 0;
	font-size: 11pt;
}

.hms-treeview ol
{
	margin: 2px 0px 2px 0px;
	padding: 0;
}

.hms-treeview li
{
	margin: 2px 0px 2px 10px;
	list-style: none;
	font-size: 9pt;
    white-space:nowrap;
}

.hms-treeview input
{
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

.hms-treeview a
{
    color: #1A41A8;
	text-decoration: none;
}

.hms-treeview input + label + ol
{
	margin: 2px 0px 2px 10px;
}

.hms-treeview input ~ ol
{
	display: none;
}

.hms-treeview label::before
{
	content: "";
	width: 16px;
	vertical-align: middle;
}

.hms-treeview input:disabled + label
{
	cursor: default;
	opacity: .6;
}

.hms-treeview input:checked ~ label ~ ol
{
	display: block;
}

.hms-treeview  input:not(:checked) + label.nodemanual::before
{
	background: url("../images/FolderClosedManual.png") no-repeat;
	background-position: center center;
}

.hms-treeview  input:not(:checked) + label.nodeok::before
{
	background: url("../images/FolderClosedOK.png") no-repeat;
	background-position: center center;
}

.hms-treeview  input:not(:checked) + label.nodeerror::before
{
	background: url("../images/FolderClosedERROR.png") no-repeat;
	background-position: center center;
}

.hms-treeview  input:not(:checked) + label.node::before
{
	background: url("../images/FolderClosed.png") no-repeat;
	background-position: center center;
}

.hms-treeview input:checked + label.nodemanual::before
{
	background: url("../images/FolderOpenedManual.png") no-repeat;
	background-position: center center;
}

.hms-treeview input:checked + label.nodeok::before
{
	background: url("../images/FolderOpenedOK.png") no-repeat;
	background-position: center center;
}

.hms-treeview input:checked + label.nodeerror::before
{
	background: url("../images/FolderOpenedERROR.png") no-repeat;
	background-position: center center;
}

.hms-treeview input:checked + label.node::before
{
	background: url("../images/FolderOpened.png") no-repeat;
	background-position: center center;
}

label.file
{
	background: url("../images/File.png") no-repeat;
	background-position: center left;
}

label.fileok
{
	background: url("../images/FileOK.png") no-repeat;
	background-position: center left;
}

label.filemanual
{
	background: url("../images/FileMANUAL.png") no-repeat;
	background-position: center left;
}

label.fileerror
{
	background: url("../images/FileERROR.png") no-repeat;
	background-position: center left;
}

.hms-treeview label,
.hms-treeview a,
.hms-treeview label::before
{
	display: inline-block;
	height: 15px;
}